{# templates/login/new.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <h1>Adding a new product</h1>

    {{ form_start(form) }}
    {{ form_row(form.file) }}
    {{ form_end(form) }}
{% endblock %}

