{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-card">
<h1>Bonjour! Veuillez confirmer votre mail!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

    </div>
</div>
{% endblock %}
