{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Vérifier votre Email{% endblock %}
{% block body %}
    <div class="login-container">
        <div class="login-card">
            <div class="login-form bg-light mt-4 p-4">
                <h1 class="h3 mb-3 font-weight-normal">Vérifier votre Email</h1>
                <p>
                    Un mail de vérification vous a été envoyé, veuillez cliquer sur le lien présent dans celui ci afin d'activer votre compte.
                </p>
                <a href="{{ path('app_verify_resend_email', {'email': email, 'resend': true }) }}" class="btn btn-primary">Réenvoyer l'email</a>
            </div>
        </div>
    </div>
{% endblock %}
