{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-card">
<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez suivre le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Au revoir!</p>
    </div>
</div>
{% endblock %}
