// customize some Bootstrap variables
$primary: #a4c5fc;
$secondary: #85d2e0;
$success: #acfca4;
$info: #c3a4fc;
$warning: #fce4a4;
$danger: #fca5a4;
$dark: #454545;
$light: #d9d9d9;

// couleur de fond
//$body-bg: rgba(45, 240, 10, 0.18);
$body-bg: #f8fafc;

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

.alert-success{
z-index: 190;
}

.buttonValidation {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}
.buttonValidation:hover {
    background-color: #c2c7c7;
}

.buttonRefus {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #991b1b;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}
.buttonRefus:hover {
    background-color: #ff7b72;
}

#accountimg{
    width:550px;
}

#walletimg{
    width:350px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accountRight{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2vw;
}



