// customize some Bootstrap variables
$primary: #a4c5fc;
$secondary: #85d2e0;
$success: #acfca4;
$info: #c3a4fc;
$warning: #fce4a4;
$danger: #fca5a4;
$dark: #454545;
$light: #d9d9d9;

$body-bg: #f8fafc;

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';


