/* General Table Styling */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    text-align: center;
}


.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1100;
    text-align: left; /* Align text to the left */
}

.action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
    z-index: 1100;
}

.action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
}

.action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
}

.action .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.action .menu ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.action .menu ul li:first-child {
    border-top: none;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    flex-grow: 1; /* Make the anchor take remaining space */
}

.action .menu ul li:hover a {
    color: #ff5d94;
}

.container-profile {
    height: 12vh;
}
.info {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.container {
    width: 50rem;
}

.alert-success {
    z-index: 190;
}

.buttonValidation {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

.buttonValidation:hover {
    background-color: #c2c7c7;
}

.buttonRefus {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #991b1b;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

.buttonRefus:hover {
    background-color: #ff7b72;
}

#accountimg {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


#walletimg {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.containerAccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.accountLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.accountRight {
    flex: 2;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #F0F3F5;
    border-radius: 15px; /* Make the card corners rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accountRight h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.action {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1000;
}


.info i {
    margin-right: 10px;
    color: #4E73DF;
}

.table thead th {
    background: rgba(31, 114, 124, 0.56);
    color: #ffffff;
    border-bottom: 0;
}

.table tbody tr {
    transition: background-color 0.15s ease-in-out;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Custom Table Row Colors */
.table-warning {
    background-color: #fff3cd;
}

.table-info {
    background-color: #d1ecf1;
}

.table-success {
    background-color: #c3e6cb;
}

.table-danger {
    background-color: #f5c6cb;
}

/* Profit Cell Colors */
.bg-success {
    background-color: #c3e6cb !important;
    color: #155724 !important;
    font-weight: bold;
}

.bg-danger {
    background-color: #f5c6cb !important;
    color: #721c24 !important;
    font-weight: bold;
}

/* Pagination Styling */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-top: 1rem; /* Added margin for spacing */
}

.pagination li {
    font-size: 1rem; /* Reduced font size */
    font-weight: bold;
}

.pagination li a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
    transition: all 0.3s;
}

.pagination li a:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination li.disabled a {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination li.active a {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li.disabled a:hover,
.pagination li.disabled a:focus {
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination .middle {
    display: flex;
    gap: 5px;
}

/* Card Styling */
.card {
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(23, 22, 113, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card .card-body {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}

.card .card-body h4 {
    font-size: 24px;
    margin: 0;
}

.card .card-body p {
    margin: 0;
    color: #6c757d;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-container i {
    font-size: 24px;
    color: #6c757d;
}

.icon-container .icon-bg {
    background-color: #e9ecef;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
}

/* Responsive Styling */
.containerAccount {
    display: flex;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 780px) {
    .coursbourse .tableaubourse {
        width: 100%;
    }
    .coursbourse .tableaubourse .table {
        height: 35vh !important;
    }
    .sidebar {
        width: 25%;
    }
    .tableauuser {
        width: 75vw;
    }
    .containerAccount {
        flex-direction: column;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .containerAccount {
        flex-direction: column;
        align-items: center;
    }
}
