/* General sidebar styles */
.sidebar {
    position: fixed;
    height: 100%;
    width: 16rem;
    background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
    border-right: 1px solid #053c67; /* Dark border */
    padding: 20px 10px;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: width 0.3s ease;
    overflow-y: auto;
}

.sidebar.closed {
    width: 80px;
}

.sidebar.closed .item-text, .sidebar.closed .logo-text {
    display: none;
}

.sidebar.closed .menu-items {
    padding-left: 0.5rem;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo-img {
    width: 100%;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.company-name {
    font-weight: 600;
    font-size: 18px;
    color: #ECEFF4; /* Light text color */
}

.tagline {
    font-size: 14px;
    color: #D8DEE9; /* Light text color */
}

.menu-items {
    list-style: none;
    width: 100%;
    margin-top: 20px;
    padding-left: 1rem; /* Default padding */
}

.item {
    width: 100%;
}

.item a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #D8DEE9; /* Light text color */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.item a i {
    margin-right: 10px;
    font-size: 20px;
}

.item a:hover {
    background: #4C566A; /* Darker background on hover */
}

.item.active a {
    background-color: #88C0D0; /* Accent color */
    color: #2E3440; /* Dark text color */
}

.item.active a i {
    color: #2E3440; /* Dark text color */
}

.logout a {
    color: #BF616A; /* Red color for logout */
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #D8DEE9; /* Light text color */
}

.container {
    margin-left: 16rem;
    transition: margin-left 0.3s ease;
    width: calc(100% - 16rem);
    padding: 0 20px;
}

.sidebar.closed ~ .container {
    margin-left: 7rem;
    width: calc(100% - 7rem);
}

.bandeau {
    align-self: center;
    margin-left: 16rem;
    transition: margin-left 0.3s ease;
    width: calc(100% - 22rem);
    padding: 0 20px;
}

.sidebar.closed .container-profile .bandeau {
    margin-left: 7rem;
    width: calc(100% - 7rem);
}

/* Custom Tooltip Style */
.tooltip {
    background-color: #3B4252;
    color: #D8DEE9;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip-inner {
    background-color: #3B4252;
    color: #D8DEE9;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .sidebar.closed {
        width: 70px;
    }

    .logo-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-img {
        margin-bottom: 10px;
    }

    .menu-items {
        margin-top: 10px;
    }

    .item a {
        font-size: 14px;
        padding: 8px 10px;
    }

    .item a i {
        font-size: 16px;
    }
}
