{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="login-card">
    {{ form_start(accountForm, {'attr': {'class': 'login-form'}}) }}
    <h3>Modifier votre mot de passe</h3>
    {{ form_widget(accountForm) }}
    {{ form_end(accountForm) }}
    </div>
</div>
{% endblock %}
