{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <h3>Votre compte</h3>
    <label>Votre adresse mail : </label><b>{{ user.email }}</b>
    <br>
    <a href="{{ path('edit_profile') }}">Modifier votre mot de passe</a>

{% endblock %}
